@model IEnumerable<TekkenGame.Models.Personagens>

@{
    ViewBag.Title = "Personagens";
}

<style>
    body {
        background-image: url(../../Fundos/Fundo3.jpg);
    }
</style>

<div style="font-family: 'Lucida Console'; text-align: left;color: red; font-size: 40px;font-weight: bold; margin-left:220px; margin-top:40px;">
    Conheça todas as personagens!
</div>

<div style=" display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top:30px;">
    @foreach (var item in Model)
    {
        <div style="padding-top: 15px">
            <a href="~/Personagens/Details/@item.ID">
                <img src="~/ImagemPers/@item.Fotografia" width="200" height="210" />
            </a>
        </div>
     }
</div>
 

@if (User.IsInRole("Admin"))
{
    <div style="padding-top: 50px;  margin-left: 400px;">
        @Html.ActionLink("Adicionar nova personagem", "Create")
    </div>
}

