@model IEnumerable<TekkenGame.Models.Jogos>

@{
    ViewBag.Title = "Jogos";
}

<style>
        body {
            background-image: url(../../Fundos/Fundo3.jpg);
        }
</style>

<div style="font-family: 'Lucida Console'; text-align: left;color: red; font-size: 40px;font-weight: bold; margin-left:280px; margin-top:40px;">
    Conheça todos os jogos!
</div>
    
<div style=" display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top:30px;">
    @foreach (var item in Model)
    {
        <div style="padding-top: 15px">
            <a href="~/Jogos/Details/@item.ID">
                <img src="~/ImagemCapas/@item.Fotografia" width="300" height="360" />
            </a>
        </div>
    }
    </div>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Adicionar novo jogo", "Create")
    }
</p>