@{
    ViewBag.Title = "Sobre";
}
<style>
    @* imagem de fundo *@
    body {
        background-image: url(../../Fundos/Fundo3.jpg);
    }
</style>

<div style="color:red; font-family:'Lucida Console'; font-size:48px; margin-top:30px;">Sobre</div>

<h3 style="color:white; font-family:'Lucida Console';">Autores:</h3>
<p style="color:white; font-family:'Lucida Console';">Hugo Marques | 20175 | 21 anos | Alqueidão</p>
<p style="color:white; font-family:'Lucida Console';">Tiago Rafael | 20185 | 20 anos | Porto Santo</p>
